<!DOCTYPE html>

<html lang="en">

<head>
  <!--Start: header-->
  <meta charset="UTF-8">
  <title> Cat vs Dog Classifier </title>
      <!-- Import CSS and Jquery -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/x-icon">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!--End: header-->
</head>

<!-- CSS align and image processing -->
<style>
    .img_holder img{
        max-width: 100%; max-height: 100%;
    }
    .btn-file {
    position: relative;
    overflow: hidden;
    }
    .btn-file input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 100%;
        min-height: 100%;
        font-size: 100px;
        text-align: right;
        filter: alpha(opacity=0);
        opacity: 0;
        outline: none;
        background: white;
        cursor: inherit;
        display: block;
    }
</style>

<body>
    <!-- HTML body containing image and text-->
    <div class="container" style="margin: auto;width;40%; text-align: center; margin-top: 70px;  text-transform: uppercase">
        <h3 style="margin: auto;width: 80%; text-align: center; margin-top: 50px;  text-transform: uppercase">Dog or Cat ?</h3>
        <div style="text-align: center; margin-top: 20px">
            <img style="max-width: 600px" src="{{ url_for('static', filename='img/cat_dog.jpg') }}"/>
        </div>
        <!-- Button form to upload image -->
        <form action="/upload" method="post" enctype="multipart/form-data" style="margin-top: 50px; width: 60%; text-align: center; margin: auto;" onsubmit="showloading()">
            <span class="text-left btn btn-default btn-file">
                Upload Image <input type="file" name="image">
            </span>
            <span class="text-right">
                <input type="submit" value="Predict" class="btn btn-primary">
            </span>
        </form>
    </div>
</body>

</html>